In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
stores = pd.read_csv('data/stores.csv')
feature = pd.read_csv('data/features.csv')
sample = pd.read_csv('data/sampleSubmission.csv')

In [4]:
feature['Date'] = pd.to_datetime(feature['Date'])
train['Date'] = pd.to_datetime(train['Date'])
test['Date'] = pd.to_datetime(test['Date'])
test.insert(3, 'Weekly_Sales', 0)
mf = feature.merge(stores, how='inner', on=['Store'])

In [5]:
concated = pd.concat([train, test])

In [7]:
#merged = pd.concat([train, test], axis=0)
merged = concated.copy()
merged = merged.sort_values(by=['Store','Dept','Date'])
merged = pd.merge(merged, mf, how='inner', on=['Date','Store','IsHoliday'])
merged['week'] = merged['Date'].dt.week
merged['month'] = merged['Date'].dt.month
merged['year'] = merged['Date'].dt.year
merged['int_week'] = merged['Date'].dt.week
merged['int_week'].loc[merged[merged['year']==2011].index] += 52
merged['int_week'].loc[merged[merged['year']==2012].index] += 52+52

In [9]:
len(merged), len(concated)

(536634, 536634)

In [11]:
train_df = merged.drop(columns=['IsHoliday','Store','Dept','week','month','Type','Date','year',
                          'int_week','MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4','MarkDown5'])

In [12]:
hvec = pd.get_dummies(merged['IsHoliday'], prefix='h')
svec = pd.get_dummies(merged['Store'], prefix='s')
dvec = pd.get_dummies(merged['Dept'], prefix='d')
wvec = pd.get_dummies(merged['week'], prefix='w')
mvec = pd.get_dummies(merged['month'], prefix='m')
tvec = pd.get_dummies(merged['Type'], prefix='t')
train_df = pd.concat([train_df, hvec, svec, dvec, wvec, mvec, tvec], axis=1)

In [53]:
test_sample = train_df.drop(index=train.index).reset_index(drop=True)

In [20]:
### xgboost

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
from xgboost import XGBRegressor

In [25]:
X = train_df.iloc[train.index].drop(columns=['Weekly_Sales'])
y = train_df.iloc[train.index]['Weekly_Sales']

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
xgb1 = XGBRegressor(n_estimators=500, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)
xgb1.fit(X_train, y_train)
preds = xgb1.predict(X_train)

In [33]:
w = (X_train.h_True * 4 + 1).values
score = np.dot(w, np.abs(preds - y_train.values)) / w.sum()
print ("WMAE Value For XGBoost: ", score)

WMAE Value For XGBoost:  3217.820304103983

In [34]:
impordf = pd.DataFrame([[col, impo] for impo, col in zip(xgb1.feature_importances_.tolist(), X_train.columns)])

In [35]:
impordf.sort_values(1, ascending=False).head()

              0         1
2           CPI  0.216223
0   Temperature  0.119513
4          Size  0.109844
3  Unemployment  0.092710
1    Fuel_Price  0.079084

In [54]:
Xt = test_sample.drop(columns=['Weekly_Sales'])

In [55]:
yhat = xgb1.predict(Xt)

In [56]:
test_sample['Weekly_Sales'] = pd.Series(yhat)

In [57]:
def make_submission(x):
    return '{}_{}_{}'.format(x['Store'], x['Dept'], x['Date'].strftime('%Y-%m-%d'))

In [70]:
test_sample['Date'] = test['Date']
test_sample['Store'] = test['Store']
test_sample['Dept'] = test['Dept']

In [71]:
result = test_sample.apply(make_submission, axis=1)

In [74]:
result = pd.concat([result, test_sample['Weekly_Sales']], axis=1).rename(columns={0:'id'})

In [75]:
result.to_csv('data/sub.csv', index=False)

- Markdown1~5 데이터는 2011년 11월 4일 이전으로는 모두 null값으로 분석에서 제외했다
- Store, Dept, Type, IsHoliday, week, month를 onehotvector로 변경하여 새로운 변수를 추가했다
- Xgboost를 사용하여 기본적으로 분석해봤으나 결과는 너무 좋지 않다

score = 23451.53163 <br>
rate = 680 / 691

### lag를 추가하여 다시한번 regression을 시도한다
- lag 4, 12, 26, 52 를 추가

In [236]:
test.Date.unique()

array(['2012-11-02', '2012-11-09', '2012-11-16', '2012-11-23',
       '2012-11-30', '2012-12-07', '2012-12-14', '2012-12-21',
       '2012-12-28', '2013-01-04', '2013-01-11', '2013-01-18',
       '2013-01-25', '2013-02-01', '2013-02-08', '2013-02-15',
       '2013-02-22', '2013-03-01', '2013-03-08', '2013-03-15',
       '2013-03-22', '2013-03-29', '2013-04-05', '2013-04-12',
       '2013-04-19', '2013-04-26', '2013-05-03', '2013-05-10',
       '2013-05-17', '2013-05-24', '2013-05-31', '2013-06-07',
       '2013-06-14', '2013-06-21', '2013-06-28', '2013-07-05',
       '2013-07-12', '2013-07-19', '2013-07-26'], dtype=object)

In [295]:
lag4 = merged.copy()
lag4.int_week += 4

In [296]:
lag4 = lag4.drop(columns=['IsHoliday','week','month','Type','Date','year',
                          'Size','MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4','MarkDown5'])

In [297]:
lag4 = lag4.rename(columns={ c:'{}_p4'.format(c) for c in lag4.columns if c not in ['Store','Dept','int_week']})

In [298]:
lag4.head()

,Store,Dept,Weekly_Sales_p4,Temperature_p4,Fuel_Price_p4,CPI_p4,Unemployment_p4,int_week
0,1,1,24924.50,42.31,2.572,211.096358,8.106,9
1,1,2,50605.27,42.31,2.572,211.096358,8.106,9
2,1,3,13740.12,42.31,2.572,211.096358,8.106,9
3,1,4,39954.04,42.31,2.572,211.096358,8.106,9
4,1,5,32229.38,42.31,2.572,211.096358,8.106,9

In [299]:
df = merged.drop(columns=['IsHoliday','week','month','Type','Date','year',
                          'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4','MarkDown5'])
hvec = pd.get_dummies(merged['IsHoliday'], prefix='h')
svec = pd.get_dummies(merged['Store'], prefix='s')
dvec = pd.get_dummies(merged['Dept'], prefix='d')
wvec = pd.get_dummies(merged['week'], prefix='w')
mvec = pd.get_dummies(merged['month'], prefix='m')
tvec = pd.get_dummies(merged['Type'], prefix='t')

In [300]:
tdf = pd.concat([df, hvec, svec, dvec, wvec, mvec, tvec], axis=1)

In [305]:
mlag = tdf.merge(lag4, how='inner', on=['int_week','Store','Dept'])

In [307]:
X = mlag.drop(columns=['Weekly_Sales'])
y = mlag['Weekly_Sales']

In [308]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [309]:
xgb = XGBRegressor(n_estimators=500, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=7)
xgb.fit(X_train, y_train)
preds = xgb.predict(X_train)

In [232]:
w = (X_train.h_True * 4 + 1).values
score = np.dot(w, np.abs(preds - y_train.values)) / w.sum()
print ("WMAE Value For XGBoost: ", score)

WMAE Value For XGBoost:  2480.848035418852

In [313]:
impordf = pd.DataFrame([[col, impo] for impo, col in zip(xgb.feature_importances_.tolist(), X_train.columns)])

In [320]:
impordf.sort_values(1, ascending=False).head()

                   0         1
203  Weekly_Sales_p4  0.177740
2        Temperature  0.085091
0              Store  0.056884
1               Dept  0.053179
3         Fuel_Price  0.047006

- lag4의 중요도가 가장 높다

In [319]:
merged_t

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size,week,month,year,int_week
0,1,1,2012-11-02,21467.876953,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
1,1,2,2012-11-02,42491.878906,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
2,1,3,2012-11-02,10866.918945,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
3,1,4,2012-11-02,34289.167969,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
4,1,5,2012-11-02,22878.363281,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
5,1,6,2012-11-02,6838.884766,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
6,1,7,2012-11-02,20804.560547,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
7,1,8,2012-11-02,32551.882812,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
8,1,9,2012-11-02,20209.263672,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
9,1,10,2012-11-02,27872.023438,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
10,1,11,2012-11-02,20383.583984,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
11,1,12,2012-11-02,8330.184570,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
12,1,13,2012-11-02,34706.687500,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
13,1,14,2012-11-02,15769.532227,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
14,1,16,2012-11-02,9063.391602,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
15,1,17,2012-11-02,11206.986328,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
16,1,18,2012-11-02,6517.046875,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
17,1,19,2012-11-02,3243.246582,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
18,1,20,2012-11-02,6886.993652,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
19,1,21,2012-11-02,8253.041992,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
20,1,22,2012-11-02,10430.143555,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
21,1,23,2012-11-02,20701.708984,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
22,1,24,2012-11-02,6893.989746,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
23,1,25,2012-11-02,10734.124023,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
24,1,26,2012-11-02,9099.899414,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
25,1,27,2012-11-02,3590.264160,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
26,1,28,2012-11-02,2780.087646,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
27,1,29,2012-11-02,6203.354980,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
28,1,30,2012-11-02,5172.745117,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
29,1,31,2012-11-02,4365.629883,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315,44,11,2012,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115034,45,41,2013-07-26,3348.812988,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115035,45,42,2013-07-26,2655.038330,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115036,45,44,2013-07-26,8255.885742,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115037,45,46,2013-07-26,6849.300781,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115038,45,49,2013-07-26,4758.126953,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115039,45,52,2013-07-26,8633.016602,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115040,45,55,2013-07-26,9882.491211,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115041,45,56,2013-07-26,20472.804688,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115042,45,58,2013-07-26,4582.249512,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115043,45,59,2013-07-26,3780.354004,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115044,45,60,2013-07-26,50799.289062,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115045,45,67,2013-07-26,44981.695312,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115046,45,71,2013-07-26,3101.597412,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115047,45,72,2013-07-26,7754.674316,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115048,45,74,2013-07-26,6790.522461,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115049,45,79,2013-07-26,29844.865234,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115050,45,80,2013-07-26,6005.374512,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115051,45,81,2013-07-26,4833.492676,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115052,45,82,2013-07-26,1872.725464,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115053,45,83,2013-07-26,11206.164062,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115054,45,85,2013-07-26,4342.329590,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115055,45,87,2013-07-26,4278.750488,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115056,45,90,2013-07-26,2701.747559,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115057,45,91,2013-07-26,1996.925659,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115058,45,92,2013-07-26,10372.198242,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115059,45,93,2013-07-26,9118.620117,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115060,45,94,2013-07-26,82409.851562,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115061,45,95,2013-07-26,16665.488281,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115062,45,97,2013-07-26,2058.877441,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30
115063,45,98,2013-07-26,43516.847656,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221,30,7,2013,30

In [ ]:
merged_t['Weekly_Sales'] = pd.Series(yhat)